@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,100&display=swap");
body {
  margin: 0;
}

header {
  height: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .title {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Tourney', cursive;
  margin: 1rem auto;
  font-size: 5rem;
  text-align: center;
  line-height: 1;
}

.buttons {
  height: 27.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}

.buttons .btn {
  cursor: url(img/testpng-removebg-preview.png) 2 2, pointer;
}

.buttons .control, .buttons .winLose, .buttons .btnTableScore, .buttons .options, .buttons .buttonTheme {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 31.33333vw;
  font-weight: bolder;
  letter-spacing: .1rem;
}

.buttons .buttonStart, .buttons .buttonReset, .buttons .buttonDiff, .buttons .liveFlex, .buttons .data {
  margin: 0.1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 11.5vw;
  height: 5rem;
  font-weight: bolder;
  letter-spacing: .1rem;
}

.buttons .buttonTheme {
  margin-top: 1rem;
}

.buttons .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid;
  font-family: 'Courier New';
  text-transform: uppercase;
}

.buttons h5 {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  font-family: 'Courier New';
  text-transform: uppercase;
}

.buttons .liveFlex {
  border: solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.5rem;
}

.buttons .bonus {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.buttons .bonus span {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-left: 0.5rem;
}

.buttons .bonus span.shield, .buttons .bonus span.triple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons .bonus span.shield div.shieldTime, .buttons .bonus span.shield div.tripleTime, .buttons .bonus span.triple div.shieldTime, .buttons .bonus span.triple div.tripleTime {
  padding-left: .5rem;
}

.buttons span#gameTime, .buttons span.score {
  margin: auto;
}

img.heartClass {
  width: 1rem;
  -webkit-animation: heartrotate 4000ms infinite linear;
          animation: heartrotate 4000ms infinite linear;
}

@-webkit-keyframes heartrotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes heartrotate {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

canvas {
  -webkit-box-shadow: 2px 2px 7px #0d0a1a;
          box-shadow: 2px 2px 7px #0d0a1a;
}

.none {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.33333vh;
}

footer a {
  text-decoration: none;
  color: #000000;
}

.popup {
  display: none;
  position: fixed;
  left: 25vw;
  width: 50vw;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 11;
}

.popup .tableScore {
  border-collapse: separate;
}

.show {
  display: inline-block;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

table {
  table-layout: fixed;
  width: 100%;
}

table thead {
  font-size: x-large;
}

table td {
  border: solid;
}

body.purple {
  background: -webkit-gradient(linear, left top, right bottom, from(#5b467c), to(#a44c98));
  background: linear-gradient(to bottom right, #5b467c, #a44c98);
}

body.purple canvas {
  background: url("img/papers.co-bl97-art-sky-night-star-space-36-3840x2400-4k-wallpaper.jpg");
  background-size: cover;
}

body.purple .title {
  color: #c6e2ff;
}

body.purple .title .blue {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(11, 0, 109, 0.52), 0 0 21px rgba(11, 0, 109, 0.92), 0 0 34px rgba(11, 0, 109, 0.78), 0 0 54px rgba(11, 0, 109, 0.92);
}

body.purple .title .red {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(156, 0, 21, 0.52), 0 0 21px rgba(156, 0, 21, 0.92), 0 0 34px rgba(156, 0, 21, 0.78), 0 0 54px rgba(156, 0, 21, 0.92);
}

body.purple button {
  height: 2rem;
  background-color: rgba(156, 0, 21, 0.5);
  border-radius: 1rem;
  margin: 0 1vw;
  border-style: unset;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  font-family: 'Courier New';
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.purple button:hover {
  background-color: #5b467c;
  -webkit-box-shadow: 0px 15px 20px white;
          box-shadow: 0px 15px 20px white;
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

body.purple .control {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: "Courier New";
  font-size: 1.3rem;
  color: white;
  text-shadow: 0px 5px 5px black;
}

body.purple .data, body.purple .liveFlex {
  border-color: rgba(156, 0, 21, 0.5);
  color: white;
  text-shadow: 0px 5px 5px black;
}

body.purple footer a {
  color: white;
}

body.purple .popup {
  background-color: #0d0a1a7c;
  color: #cecffc;
}

footer {
  font-size: 1rem;
  font-family: 'Courier New';
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .1rem;
}

body.jupiter {
  background: -webkit-gradient(linear, left top, right bottom, from(#8c4c04), to(#7c96a9));
  background: linear-gradient(to bottom right, #8c4c04, #7c96a9);
}

body.jupiter canvas {
  background: content-box url("img/jupiter_nasa.jpeg");
  background-size: cover;
}

body.jupiter .title {
  color: #c6e2ff;
}

body.jupiter .title .blue {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(24, 69, 106, 0.52), 0 0 21px rgba(24, 69, 106, 0.92), 0 0 34px rgba(24, 69, 106, 0.78), 0 0 54px rgba(24, 69, 106, 0.92);
}

body.jupiter .title .red {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(156, 0, 21, 0.52), 0 0 21px rgba(156, 0, 21, 0.92), 0 0 34px rgba(156, 0, 21, 0.78), 0 0 54px rgba(156, 0, 21, 0.92);
}

body.jupiter button {
  height: 2rem;
  background-color: #7c96a9;
  border-radius: 1rem;
  margin: 0 1vw;
  border-style: unset;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  font-family: 'Courier New';
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.jupiter button:hover {
  background-color: #8c4c04;
  -webkit-box-shadow: 0px 15px 20px white;
          box-shadow: 0px 15px 20px white;
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

body.jupiter .control {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: "Courier New";
  font-size: 1.3rem;
  color: #7c96a9;
  text-shadow: 0px 5px 5px black;
}

body.jupiter .data, body.jupiter .liveFlex {
  border-color: #7c96a9;
  color: #7c96a9;
  text-shadow: 0px 5px 5px black;
}

body.jupiter footer a {
  color: #8c4c04;
}

body.jupiter .popup {
  background-color: #0d0a1a7c;
  color: #7c96a9;
}

body.milkyWay {
  background: #0a0925;
}

body.milkyWay canvas {
  background: url("img/sky-space-milky-way-stars-110854_reduitweb2.jpeg");
  background-size: cover;
}

body.milkyWay .title {
  color: #c6e2ff;
}

body.milkyWay .title .blue {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(11, 0, 109, 0.52), 0 0 21px rgba(11, 0, 109, 0.92), 0 0 34px rgba(11, 0, 109, 0.78), 0 0 54px rgba(11, 0, 109, 0.92);
}

body.milkyWay .title .red {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(156, 0, 21, 0.52), 0 0 21px rgba(156, 0, 21, 0.92), 0 0 34px rgba(156, 0, 21, 0.78), 0 0 54px rgba(156, 0, 21, 0.92);
}

body.milkyWay button {
  height: 2rem;
  background-color: #0a0925;
  color: white;
  border-radius: 1rem;
  margin: 0 1vw;
  border-style: unset;
  -webkit-box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.5);
  font-family: 'Courier New';
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body.milkyWay button:hover {
  background-color: #7599db;
  -webkit-box-shadow: 0px 15px 20px white;
          box-shadow: 0px 15px 20px white;
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

body.milkyWay .control {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-family: "Courier New";
  font-size: 1.3rem;
  color: white;
  text-shadow: 0px 5px 5px #cb89fa;
}

body.milkyWay .data, body.milkyWay .liveFlex {
  border-color: #ffffff;
  color: #ffffff;
  text-shadow: 0px 5px 5px black;
}

body.milkyWay footer a {
  color: #cb89fa;
}

body.milkyWay .popup {
  background-color: #0d0a1a7c;
  color: #cb89fa9c;
}
/*# sourceMappingURL=style.css.map */